.card {
position: left;
padding-left: -5px;
padding-top: 8px;
}

.main-container {
display: flex;
justify-content: space-evenly;
}

.img {
height: 200px;
}

.photo {
  flex: 0 0 30%;
  // border-style: solid;
  // border-width: 3px;
  // border-color: gray;
}

.main-description-container {
  justify-content: space-evenly;
}

.description-container {
  display: flex;
  justify-content: space-between;
}

.booking-container {
  width: 30vw;
}

.presentation-container {
  display: flex;
  justify-content: space-between;
}

.carac {
  flex: 0 0 70%;
  padding-left: 12px;
  font-size: 20px;
}

#price {
  font-weight: bold;
  font-size: 22px;
  text-shadow: 1px 2px black;
}

#name {
 font-weight: bold;
  font-size: 32px;
}



