<div class="container">
  <h1>All the Chickens</h1>
  <% if @chickens.empty? %>
    <p>No chicken created for now</p>
  <% else %>
  <div class="row">
    <div class="col-8">
      <div class="row">
        <% @chickens.each do |chicken| %>
        <div class="col col-md-4">
          <%= render partial: 'shared/chicken_card', locals: {chicken: chicken} %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="col-4">
      <div
        id="map"
        style="width: 100%;
        height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
  </div>
  <% end %>
</div>
