.button-primary {
  background-color: $blue;
  color: #ffffff;
  font-weight: bold;
  display:block;
  line-height:50px;
  text-align:center;
  vertical-align:middle;
  text-decoration:none;
  border-radius: 10px;
}

.button-primary:disabled:hover{
  color:white;
}
