.navbar-lewagon {
  justify-content: space-between;
  background: white;
  // position: fixed;
  // top: 0;
  // width: 100%;
  // z-index: 1;
  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 40px;
  }

  a {
    font-size: 18px;
  }

  .nav-item {
    color: #bbbbbb;
    font-weight: lighter;
  }

  .dropdown-menu {
    text-align: right;
  }
}


