<div class="container">
  <div class="d-flex justify-content-between">
    <h1>All my chickens</h1>
    <%= link_to "Ajoute ta poule", new_owner_chicken_path, class: "btn btn-primary" %>
  </div>
    <% if @chickens.empty? %>
    <p>No chicken created for now</p>
  <% else %>
    <div class="row">
    <% @chickens.each do |chicken| %>
      <div class="col col-md-4">
        <%= render partial: 'shared/chicken_card', locals: {chicken: chicken} %>
      </div>
    <% end %>
    </div>
  <% end %>
</div>
